@import "imports.less";

body {
	margin: 0;
	border-top: 5px solid @blue;
}

aside {
	position: fixed;
	top: 5px;
	left: 0;

	height: 100%;
	width: 260px;
	padding-right: 5px;
	border-right: 1px solid @gray;
	background-color: white;

	.logo {
		width: 100px;
		height: 100px;
		margin: 25px 0 0 20px;

		background: @blue;
	}
}